<div class="container-fluid">
    <div ng-include="'/app/view/modal/create-place-modal.html'"></div>
    <div ng-include="'/app/view/modal/modify-place-modal.html'"></div>
    <div class="row">
        <div class="col-sm-10 col-md-8 sidebar">
            <div class="row">
                <h4 class="text-center">Ваши заведения</h4>
                <h6 class="text-center" style="cursor:pointer"><a data-toggle="modal" data-target="#create-place-modal">Добавить
                    новое </a></h6>
            </div>
            <div class="panel-group" id="accordion">
                <div ng-include="'/app/view/spinner.html'" class="text-center"></div>

                <div class="panel-heading" ng-show="!places.length && !$root.dataLoading">
                    <h4 class="panel-title text-center">
                        Укажите свое первое заведение нажав кнопку 'Добавить новое'
                    </h4>
                </div>

                <div class="panel panel-default" ng-repeat="place in places">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <div class="row">
                                <div class="col-md-7 text-right">
                                    <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}"
                                       ng-click="openInfoWindow($event, place)" style="cursor:pointer">
                                        {{place.locationName}}
                                    </a>
                                </div>
                                <div class="col-md-5 text-right">
                                    <span class="glyphicon glyphicon-pencil btn" data-toggle="modal"
                                          data-target="#modify-place-modal"
                                          ng-click="startModifyingPlace($index)" title="Редактировать заведение"></span>
                                    <span class="glyphicon glyphicon-plus btn" ng-click="addNewSale(place)" title="Добавить новую акцию"></span>
                                </div>
                            </div>
                        </h4>
                    </div>
                    <div id="collapse{{$index}}" class="panel-collapse collapse" ng-class="{in: $index==0}">
                        <div ng-show="!place.sales.length" class="panel-body">
                            <h4 class="panel-title text-center">
                                Укажите свою первую акцию нажав кнопку плюс
                            </h4>
                        </div>
                        <div class="panel-body" ng-repeat="sale in place.sales | orderBy : '!active'" ng-class="{'not-active-sale': !sale.active}">
                            <div class="row">
                                <div class="col-md-9">
                                    <span editable-text="sale.description"
                                          e-form="editSaleForm" oncancel="removeNewSale(place, sale)"
                                          onaftersave="removeIsNewAttribute(sale); saveNewSale(place)"
                                          e-placeholder="Ваша новая акция"
                                          ng-show="onSaleShow(sale, editSaleForm)">{{sale.description}}</span>
                                </div>
                                <div class="col-md-3 text-right">
                                    <span class="glyphicon glyphicon-pencil btn" ng-click="editSaleForm.$show()"
                                          ng-hide="editSaleForm.$visible" title="Редактировать акцию"></span>
                                    <span ng-show="sale.active" class="glyphicon glyphicon-inbox btn"
                                          ng-click="archiveSale(place, sale)" title="Поместить акцию в архив"></span>
                                    <span ng-show="!sale.active" class="glyphicon glyphicon glyphicon-cutlery btn"
                                          ng-click="unarchiveSale(place, sale)" title="Сделать акцию активной"></span>
                                    <span class="glyphicon glyphicon-trash btn"
                                          ng-click="deleteSale(place, sale)" title="Удалить акцию"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-4 main">
            <div id="map" style="width:400px;height:400px;"></div>
        </div>
    </div>
</div>
</div>
</div>